<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- navigations-->
            <div class="navigation">
                <div id="navigation">
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="menu.html">Menu</a>
                        </li>
                        <li><a href="blog-default.html">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.navigations-->
        </div>
    </div>
</div>